[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
bld/
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.sln.docstates

Thumbs.db
ehthumbs.db
Desktop.ini

packages/
*.log
*.mdf
*.ldf

ConnectionStrings.config
AppSettingsSecrets.config